.onboarding__steps-container {
  padding-top: 120px;
  @media (max-height: 700px) {
    padding-top: 100px;
  }
  margin-bottom: 50px;
  max-width: 950px;

  .MuiStepper-root {
    .MuiStepIcon-root.Mui-completed,
    .MuiStepIcon-root.Mui-active {
      color: black;
    }

    .MuiStep-root.interactive {
      &:hover {
        cursor: pointer;

        .MuiStepIcon-root {
          color: rgba(0, 0, 0, 0.8);
        }
        .MuiStepLabel-label {
          color: rgba(0, 0, 0, 0.8);
          font-weight: 600;
        }
      }
    }

    svg.MuiSvgIcon-root[data-testid="RecommendIcon"] {
      background: black;
      border-radius: 50%;
      path {
        fill: #ebe3e3;
      }
    }
    svg.MuiSvgIcon-root[data-testid="ErrorOutlineIcon"] {
      background: #f83333;
      border-radius: 50%;
      path {
        fill: #ebe3e3;
      }
    }
  }
}
