$bg-light: #f8f8f8;
$bg-theme-diluted: #fdd44f91;
$bg-theme-gray: rgba(224, 179, 110, 0.185);
$bg-theme: #fdd54f;
$eng-1: #d0b4ef;
$eng-1-gray: #9575b7;
$eng-1-dark: #383041;
$eng-1-dark2: #332c3b;
$eng-1-gray-light: #796d85db;
$eng-1-transparent: rgb(183 175 192 / 38%);