@import "../../common/styles/colors.scss";
@import "../../common/styles/shared.scss";
.dashboard {
  height: calc(100vh - $header-height);

  &__content-container {
    height: 100%;
    position: relative;
    z-index: 100;
  }

  &__standard-content-wrapper:not(.dashboard__teaming) {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__standard-content {
    border-radius: 20px;
    width: min(700px, calc(100vw - 60px));
    height: 200px;
    background-color: rgb(206 195 216 / 86%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
      width: 80%;
      text-align: center;
      font-weight: 300;
    }

    img {
      width: 100px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  &__joinable__content,
  &__leavable__content {
    span {
      margin-bottom: 15px;
    }
    svg.MuiSvgIcon-root {
      font-size: 20px;
      margin-right: 6px;
    }
  }

  &__upcoming__content {
    span {
      margin-bottom: 5px;
    }
  }

  &__countdown__content {
    font-size: 27px;
    font-weight: 400 !important;
  }

  &__teaming__content {
    position: relative;
    pointer-events: all;
    height: calc(100% - 60vh - 52px - 12px);
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    @media screen and (max-width: $mobile-width-cutoff) {
      gap: 6px;
    }

    &__prompt-primary {
      font-size: 20px;
      font-weight: 800;
      color: $eng-1-dark2;
    }
    &__prompt-secondary {
      font-size: 10px;
      font-weight: 300;
    }
    &__teams-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .MuiAvatar-root {
        width: 60px;
        height: 60px;
        @media screen and (max-width: $mobile-width-cutoff) {
          font-size: 14px;
          width: 40px;
          height: 40px;
        }
      }
    }

    &__avatar-wrapper {
      margin: 3px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        box-shadow: 5px 11px 50px -16px black;
      }
    }
  }

  &__teaming.chat-active {
    .dashboard__teaming__content {
      @media screen and (max-width: $mobile-width-cutoff) {
        gap: 0px;
      }
    }
  }
}
