@import "../../common/styles/colors.scss";
@import "../../common/styles/shared.scss";

.homepage {
  height: calc(100% - $header-height);
  overflow: hidden;

  &__subframe {
    height: 100%;
  }

  &__floating-container {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;

    @media screen and (max-width: $mobile-width-cutoff) {
      bottom: 50px;
    }

    &__secondary-action {
      font-size: 15px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      color: $eng-1-dark;
      font-weight: 400;
    }
  }
}